/* ==UserStyle==
@name           Undefined Pulse
@description    Highlights 'undefined' classes
@version        1.0.0
@author         Ravi S. Rāmphal
@namespace      Browser Customizations
@homepageURL    https://github.com/rramphal/browser-customizations
@updateURL      https://raw.githubusercontent.com/rramphal/browser-customizations/master/userstyles/undefined-pulse.user.css
==/UserStyle== */

/*
    Primarily to help with classname interpolation
    where the variable being interpolated is
    undefined (as with React.js). Using
    https://github.com/JedWatson/classnames
    can help.
*/

.undefined {
    color: black;
    background-color: red;
    padding: 5px;
    border: 2px dashed black;
    animation: undefined-pulse 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.undefined:before {
    content: 'UNDEFINED: ';
}

@keyframes undefined-pulse {
    50% {
        opacity: 0.5;
    }
}
